<%- include('parts/page-head', { title : 'Destinos', linkCSS : 'css/destinos.css'}) %>
<script src="/script/card.js"></script>
<body>
    
   
    <%- include('parts/page-header') %>

    
<div class="container dest">

    <div class="content-dest">

        <div class="title-dest">
            <h2>Nossos Destinos</h2>
            <p class="sub one">Aqui nossos parceiros fazem as melhores viagens pra você</p>
        </div>
        
        
        <ul class="listaDest">

            <div class="navGuia"> 

                <p>Cidade/País</p>
                
                <p>Rating</p>
                <p>Categorias</p>
                <p>Site</p>

            </div>
        
            <div class="hr"></div>

            <li class="card copa">
                
                <div class="partTitleCard">
                <p>Copacabana</p>
                <img src="img/brzinho.jpg" alt="Brasil" title="Brasil">
                </div>
               <div class="img"> <img class="star" src="img/5stars.png" alt=""></div>
                <div class="contCat"><p class="categoria">Praias</p><p class="div">/</p><p class="categoria"> Paisagens</p></div>
                <a target="_blank" href="https://www.decolar.com/passagens-aereas/sao/rio/passagens-aereas-para-rio+de+janeiro" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card prima">
                <div class="partTitleCard">
                <p>Primavera do Leste</p>
                 <img src="img/brzinho.jpg" alt="Brasil" title="Brasil">
                    </div>
                   <div class="img"> <img class="star" src="img/4stars.png" alt=""></div>
                
                   <div class="contCat"><p class="categoria">Paisagens</p><p class="div">/</p><p class="categoria">Natureza</p></div>
                <a target="_blank" href="https://www.decolar.com/passagens-aereas/SAO/PVADL?from=SB&di=2-0" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div> 

            <li class="card ouro">
                <div class="partTitleCard">
                <p>Ouro Preto</p>
                    <img src="img/brzinho.jpg" alt="Brasil" title="Brasil">
                    </div>
                    <div class="img"> <img class="star" src="img/4stars.png" alt=""></div>
                
                <div class="contCat"><p class="categoria">Paisagens</p><p class="div">/</p><p class="categoria">Cultura</p><p class="div">/</p><p class="categoria">História</p></div>
                <a target="_blank" href="https://www.decolar.com/passagens-aereas/SAO/OU1?from=SB&di=2-0" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card amaj">
                <div class="partTitleCard">
                <p>Amajari</p>
                    <img src="img/brzinho.jpg" alt="Brasil" title="Brasil">
                    </div>
                    <div class="img"> <img class="star" src="img/4stars.png" alt=""></div>
                
                <div class="contCat"><p class="categoria">Paisagens</p><p class="div">/</p><p class="categoria">Cultura</p><p class="div">/</p><p class="categoria">Arquitetura</p></div>
                <a target="_blank" href="https://www.expedia.com.br/Destinos-Roraima.d6052645.destinos-de-voo" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card inter">
                <div class="partTitleCard">
                <p>Interlaken</p>
                <img src="img/sczinho.jpg" alt="Suiça" title="Suiça"></div>
                <div class="img">  <img class="star" src="img/5stars.png" alt=""></div>
                <div class="contCat"><p class="categoria">Paisagens</p><p class="div">/</p><p class="categoria">Cultura</p><p class="div">/</p><p class="categoria">Arquitetura</p></div>
                <a target="_blank" href="https://www.decolar.com/passagens-aereas/SAO/I14?from=SB&di=1-0&reSearch=true" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>
            
            <li class="card salo">
                <div class="partTitleCard">
                <p>Ilhas Salomão</p>
               <img src="img/salmzinho.jpg" alt="Ilhas Salomão" title="Ilhas Salomão"> </div>
               
               <div class="img">   <img class="star" src="img/4stars.png" alt=""></div>
                <div class="contCat"><p class="categoria">Paisagens</p><p class="div">/</p><p class="categoria">Cultura</p></div>
                <a target="_blank" href="https://www.decolar.com/passagens-aereas/pais/ilhas+salomao" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card canc">
                <div class="partTitleCard">
                <p>Cancún</p>
                <img src="img/mxczinho.jpg" alt="México" title="México"></div>
                <div class="img"> <img class="star" src="img/5stars.png" alt=""></div>
                <div class="contCat"><p class="categoria">Paisagens</p><p class="div">/</p><p class="categoria">Cultura</p><p class="div">/</p><p class="categoria">Praias</p></div>
                <a target="_blank" href="https://www.decolar.com/passagens-aereas/SAO/CUN?from=SB&di=1-0&reSearch=true" class="sub">Visite Aqui</a>
            </li>

            <div class="hr"></div>

            <li class="card roma">
                <div class="partTitleCard">
                <p>Roma</p>
                <img src="img/italiazinho.jpg" alt="Itália" title="Itália"></div>
                <div class="img"> <img class="star" src="img/5stars.png" alt=""></div>
                <div class="contCat"><p class="categoria">Cultura</p><p class="div">/</p><p class="categoria">Arquitetura</p><p class="div">/</p><p class="categoria">História</p></div>
                <a target="_blank" href="https://www.decolar.com/passagens-aereas/SAO/ROM?from=SB&di=1-0&reSearch=true" class="sub">Visite Aqui</a>
            </li>

        </ul>

        
    </div>

</div>


<%- include('parts/footer') %>
</body>
</html>