.container.dest{

    padding-top: 80px;
    
    width: fit-content;
    flex-direction: column;

}

.content-dest{

    margin: 5vh auto;

}
.plantas{

    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 25px;

}

.plantas .card{
display: flex;
justify-content: center;
align-items: flex-end  ;
    width: 400px;
    height: 300px;
    border: 1px solid var(--color-border);

    border-radius: 5px;

}

.title-dest h1{

    color: var(--color-tema)

}

.sub.one{

    color: var(--color-txttwo)

}
