<%- include('parts/page-head', { title : 'Sobre Nós', linkCSS : 'css/sobre.css'}) %>

<body>
    
    <!--Header-->

    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->
    <%- include('parts/page-header', { }) %>

    <!--Header-->

    <div class="container sobre">

        <div class="content-sobre">
            <h2>Sobre Nós</h2>
            <div class="sobreTxt">
            <p>A FlyPlane é um site de recomendação de viagens, especializada em Turismo. 
                Com a ajuda de profissionais capacitados, foi possível desenvolver um questionário no qual 
                avalia o perfil do usuário, traçando diversos destinos compatíveis com a personalidade do mesmo.</p> 

                <p> Temos como objetivo central auxiliar nossos clientes a terem experiências novas, 
                permitindo-os conhecerem lugares diferentes e pouco visitados em nosso país. 
                Infelizmente temos um conhecimento limitado sobre os paraísos brasileiros, e pretendemos 
                cultivar cada vez mais a cultura brasileira.</p>
</div>

            
            
        </div>

    </div>
    <%- include('parts/footer', { }) %>
</body>
</html>
