.container.sobre{

    padding-top: 80px;
    

}

.content-sobre{

    display: flex;
    flex-direction: column;
    align-items: center;

max-width: 1000px;
    width: 100%;

    min-height: 72vh;
    margin: 10vh auto;

    padding: 0 5vw;
    border-radius: 20px;
    
}

.sobreTxt{

    box-sizing: border-box;
    padding: 7vh 4vw;
border: 1px solid var(--color-border);
border-radius: 3px;
}

.content-sobre h2{

    font-size: 50px;
    color: rgb(41, 91, 255);

margin: 0;
    margin-bottom: 5vh;
    

}

.content-sobre p{

    color: var(--color-txttwo);
    font-size: 24px;
    

}

@media (max-width: 1040px){

    .content-sobre{

        margin: 7vh auto;

    }

        .content-sobre h2{
    
            font-size: 45px;
            
        
        }
        
        .content-sobre p{
    
            font-size: 20px;
            
        
        }
    
    
}
    @media (max-width: 690px){
    
       

        .content-sobre h2{
    
            font-size: 35px;
            
        
        }
        
        .content-sobre p{
    
            font-size: 19px;
            
        
        }
    }