<header class="jungle">
       
    <nav class="container header">

            <a href="/">  Home </a>
            
                
            <a href="/plantas">Galeria de Plantas</a>
                
            
<%if(sessionID == undefined ){%>

    <a href="/login">Logar-se</a>

    <%}else{%>

        <p><%= userEmail %> </p>
<form action="/logout" method="post">
                    <button type="submit"><a>Logout</a> </button>
                </form>
        <%}%>
                

                
               
        
        <div class="toggle">
        <input id="switch" type="checkbox" name="theme">
        <label id="swDark" class="sw swOn" for="switch">
            <div class="onOff">
                <p>darkmode</p>  
                <div class="swsw">
                    <p class="off">OFF</p>
                    <p class="on">ON</p>
                    
                </div>
            </div>
            
        </label>
        </div>

    </nav>
            

    

</header>